.row
{
	height: 100%;
}

html
{
	padding: 30px;
}

body
{
	border: 3px solid black;
}

.container
{
	width: 100%;
	margin-top: -50px;
	padding-top: 50px;
}

header
{
	background: green;
	height: 50px;
}

.buildings
{
	height: 100%;
	background: grey;
}

.details
{
	height: 100%;
	background: #ccc;
}
